
ion-header{
    
    ion-toolbar{
        --background: var(--cor-primaria);
        height: 120px;
        display: flex;
        align-items: flex-end;
        color: var(--branco);
        ion-title{
            font-size: 32px;
            text-transform: uppercase;
        }
    }
    
}
.segment-button-checked{
    font-weight: bold !important;
    color: var(--branco) !important;
    border-bottom: 5px solid var(--cor-terciaria) !important;
}
ion-segment{
    background-color: var(--ion-color-primary-shade);
    height: 96px;
    
    ion-segment-button{
        --indicator-color-checked: transparent;
        text-transform: uppercase;
        color: var(--ion-color-primary-tint);
        border: 0px;
        border-radius: 0px;
        font-size: 22px;
    }
}

ion-content{
    --background: var(--cinza-10);

    ion-card{
        margin: 0;
        background-color: var(--branco);
        border-radius: 10px 10px 10px 10px;
    }
    ion-card.seledata{
        ion-icon{
            color: var(--cor-primaria);

        }
        ion-datetime{
            color: var(--cor-primaria);
        }
        
    }
    ion-input.input-full-card{
        border-radius: 10px 10px 10px 10px;
        border: 1px solid var(--cinza-claro-75);
        background-color: var(--branco);
        margin: 15px 0;

    }

    ion-card.anidodia{
        margin-bottom: 5px;
        ion-card-header{
            ion-label{
                font-size: 28px;
                font-weight: bold;
                --color: var(--cinza);
            }
            .data{
                text-align: center;
                
                h2{
                    font-weight: 300;
                    font-size: 54px;
                    color: var(--cinza);
                    margin: 0;
                    line-height: 1;
                }
                h3{
                    font-weight: 300;
                    font-size: 28px;
                    color: var(--cor-primaria);
                    margin: 0;
                    line-height: 1;
                }
            }
        }
        ion-card-content{
            ion-label{
                font-weight: 300;
                font-size: 30px;
                color: var(--cinza-90);
                margin: 0;
            }
        }

        
    }
}
h1{
    font-weight: 300;
    font-size: 26px;
    color: var(--cinza);
}